.signin-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    font-family: var(--font-main);
}

.top-div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
}

.home-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.arrow {
    width: 10px;
    margin: 0 5px;
}
.form-container {
    width: 380px;
    background: white;
    padding: 25px 25px 0px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.form-container h2 {
    margin: 0;
    color: var(--color-primary);
    font-size: 26px;
    font-weight: 600;
}

.form-container p {
    margin-top: -5px;
    margin-bottom: 25px;
    color: var(--color-secondary);
    font-size: 14px;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-primary);
}

.form input {
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 9px 7px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form input:focus {
    border-color: var(--color-secondary);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember {
    font-size: 13px;
    color: var(--color-primary);
}

.forgot {
    font-size: 13px;
    color: var(--color-primary);
    text-decoration: none;
}

.btn-sign {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to top, var(--color-primary), var(--color-secondary));
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-google {
    width: 100%;
    padding: 12px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-google img {
    width: 18px;
}

.text {
    font-size: 13px;
    color: var(--color-paragraph);
    text-align: center;
}

.text a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
}


.form input:focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 5px rgba(104, 170, 182, 0.3);
}

.form input.error-input {
    border-color: #e74c3c;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

.error {
    color: #e74c3c;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    min-height: 16px;
    transition: all 0.3s;
}