.status-wrapper{

    margin-top:35px;

}

.welcome{

    margin-bottom:30px;

}

.welcome h1{

    font-size:48px;

    font-weight:700;

    color:#0C7288;

    margin-bottom:10px;

}

.welcome p{

    color:#8A8A8A;

    font-size:22px;

}

.status-cards{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.status-card{

    background:#EAF0F5;

    border-radius:16px;

    padding:26px;

    box-shadow:0 5px 15px rgba(0,0,0,.12);

}

.status-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.status-top span{

    font-size:23px;

    color:#0C7288;

    font-weight:700;

}

.status-card h3{

    font-size:28px;

    color:#0C7288;

    margin-bottom:12px;

}

.progress{

    width:100%;

    height:12px;

    background:white;

    border-radius:30px;

}

.progress-fill{

    height:100%;

    background:#0C7288;

    border-radius:30px;

}

.missing{

    display:flex;

    align-items:center;

    gap:10px;

}

.missing p{

    color:#0C7288;

    font-size:18px;

}

@media(max-width:1100px){

.status-cards{

grid-template-columns:1fr;

}

.welcome h1{

font-size:35px;

}

}