*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--background);
}

:root{
    --primary-color:#0C7288;
    --secondary-color: #68AAB6;
    --background:white;
    --text:#959595;
}
.main-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 90%;
}
.main-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.main-content h1{
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 58px;
    line-height: 100%;
    margin-left: -330px;
    margin-top: -100px;
    padding-bottom: 20px;
}
.main-content h1 span{ 
    color: var(--primary-color);
    font-weight: 600;
    font-size: 70px;
    font-style: Bold;
}
.main-content h1 span #t{ 
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 70px;
    font-style: Bold;
}

.main-content h2{
color: var(--primary-color);
font-weight: 600;
font-style: Bold;
font-size: 70px;
line-height: 100%;
padding-bottom: 25px;
margin-left: -100px;
}
.main-content p{
width: 80%;
color: var(--text);
font-weight: 400;
font-size: 30px;
line-height: 32px;
margin-left: -250px;
margin-top: 10px;
}
.main-img {
    width: 30%;
    /* margin-top: 50px; */
    }
.main-img img{
    /* width: 850px;
    margin-left:897px;
    margin-top: -1000px; */
    position: relative;
    z-index: 1;

}

    .main-img .line {
        position: absolute;
        border: 2px solid var(--secondary-color);
    width : 500px;
    height: 450px;
    rotate: 45deg;
    background-color: white;
    margin-left:1050px;
    margin-top:-420px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    opacity: 1;
    border-radius: 15px ; 
    z-index: 0;
    }


    .main-img .block {
        position: absolute;
        border: 2px solid var(--secondary-color);
        
    width : 450px;
    height: 434px;
    
    background-color: var(--secondary-color);
    margin-left:1060px;
    margin-top:-420px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    opacity: 1;
    border-radius: 20px ; 
    z-index: 0;
    }




