* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    background-image: url('../../assets/images/requestdDemoBg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.request-demo-container {
  background: #fff;
  /* max-width: 900px; */
  margin: 0 auto 2rem auto;
  padding: 30px;
  width: 50%;
  /* margin: auto; */
  border-radius: 45px;
  box-shadow: 3px 3px 12px 0px #00000040;

  text-align: center;
}
.caption{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    margin: auto;
    gap: 1rem;
    padding: 2rem;
    color: #fff;
}
.request-demo-container h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

.request-demo-container p {
  margin-bottom: 30px;
  color: #555;
}

.demo-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    
}
label{
    display: block;
    text-align: justify;
    color: var(--color-primary);
    font-size: 14px;
}
.demo-form .form-row {
  display: flex;
  gap: 4rem;
  margin-bottom: 15px;
  width: 100%;
}
.form-row .field{
    width: 50%;
    
}
.demo-form input, .demo-form textarea {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  width: 100%;
}

.demo-form textarea {
  width: 100%;
  resize: none;
  height: 200px;
  margin-bottom: 15px;
}

.btn-submit {
  padding: 12px 40px;
  background: linear-gradient(to bottom, #1e7384, #93a6ac);
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 50%;
  margin: auto;
}

.btn-submit:hover {
  opacity: 0.9;
}

/* الغلاف الخارجي */
.custom-field {
  /* width: 100%; */
  /* margin-bottom: 1.2rem; */
  /* text-align: left; */
}

.custom-field label {
  /* font-size: 14px;
  color: var(--color-primary);
  margin-bottom: 6px;
  display: block; */
}

/* تصميم شكل الفيلد */
.field-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  padding: 12px ;
  background: #fff;
  width: 100%;
}

/* العلم */
.flag-icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 4px;
}

/* كود الدولة */
.country-code {
  font-size: 15px;
  color: #444;
}

/* select & input */
.field-box select,
.field-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  color: #333;
  background: transparent;
}

.field-box select {
  padding-right: 10px;
  cursor: pointer;
}

.field-box input::placeholder {
  color: #b4b4b4;
}
.phone-field{
        padding: 0 0 0 12px
}