*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-primary{
    width: 220px;
    height: 55px;
    background: linear-gradient(to bottom, #0C7288, #68AAB6);
    color: white;
    padding: 10px;
    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 18px;
    cursor: pointer;
}


.solutions-section {
    margin-top: 0px;
    padding: 60px 80px;
}

.solutions-title {
    font-size:60px;
    font-weight: 700;
    color: #0C7288;
    margin-bottom: 10px;
}

.solutions-subtitle {
    color: #4EAAB8;
    font-weight: 600;
}

.solutions-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.solution-card {
    padding: 10px;
}

.solution-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 12px;
}

.solution-description {
    font-size: 18px;
    line-height: 1.5;
    color: var(--text);
}.student-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
}

.student-image {
    width: 112.2%;
    height: auto;
    background: linear-gradient(to top, #348294 0%, #5ba8b8 30%, #89c4cc 60%, #c8e4e8 85%, #ffffff 100%);
    background: opacity(0.5);

}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

