.quiz-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 60px;
}
.profile-container {
    margin: 10px 60px;
}

.profile-title {
    color: #0C7288;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

}

.profile-subtitle {
    color: #959595;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.btn-quiz button {
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 30px;
    color: white;
    background-color: #0C7288;
    transition: .7s ease-in-out;
}
.btn-quiz button:hover{
    background-color: #26acca;
}
.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 60px;
}

.profile-title {
  color: #0c7288;
  font-size: 32px;
  font-weight: 700;
}

.profile-subtitle {
  color: #959595;
  font-size: 14px;
}

.btn-quiz button {
  background-color: #0c7288;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.quiz-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 40px 120px;
}

.quiz-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 6px;
}

.quiz-card h3 {
  color: #0c7288;
  font-size: 18px;
  margin-bottom: 5px;
}

.subject {
  color: #7a7a7a;
  font-size: 14px;
  margin-bottom: 15px;
}

#quiz-info {
  display: flex !important;
  gap: 20px;
  font-size: 13px;
  color: #7a7a7a;
  margin-bottom: 15px;
  background: none !important;
  box-shadow: none !important;
}

.progress-section {
  margin-bottom: 15px;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #7a7a7a;
}

.progress-bar {
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  margin: 5px 0 10px;
}

.progress-fill {
  width: 20%;
  height: 100%;
  background: #0c7288;
  border-radius: 10px;
}

.quiz-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

#view-btn {
  flex: 1;
  background-color: #0c7288;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.icon-btn {
  width: 45px;
  height: 45px;
  border: none;
  background: white;
  border-radius: 8px;
  border: 1px solid #7a7a7a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-btn-edit{
  width: 45px;
  height: 45px;
  border: none;
  background: #0C7288;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-btn-edit:hover{
    background-color: #26acca;
}