
.footer {
  background-image: url('../../../assets/images/footer-bg.png');
  padding: 40px 80px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-primary);
}
.footer-left .logo {
    display: flex;
    gap: 1rem;
}
.logo-name{
    font-weight: 700;
    font-size: 30px;
}
.footer-left .email,
.footer-left .phone {
    line-height: 32px;
}
.socials {
  display: flex;
  gap: 12px;
}
.footer-section h3 {
  color: var(--color-primary);
  font-size: 20px;
  margin-bottom: 30px;

}
.footer-section ul {
  list-style: none;
  padding: 0;
  display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-section ul li {
  color: var(--color-paragraph);
  font-size: 14px;
  display: flex;
  gap: 3rem;
}
.footer-section ul li img{
    color: var(--color-primary);
}