.partner-container {
    width: 1205.8187255859375px;
    margin: 30px 60px;
    margin-top: 40px;
    position: relative;
}
.top-icon {
    width: 70px;
    position: absolute;
    right: 90px;
    top: 40px;
    animation: slowSpin 6s linear infinite;
}

@keyframes slowSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.title {
    font-size: 40px;
    font-weight: 600;
    color: #0C7288;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-logo,
.right-logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #999;
    object-fit: cover;
}

.handshake-video {
    width: 200px;
    animation: handshakeMove 1.4s ease-in-out infinite;
}

@keyframes handshakeMove {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(6deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.fade-img {
    animation: fade 0.8s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.partner-content {
    width: 85%;
    margin: 40px 0px 30px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    font-size: 12px;
    color: #959595;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Start hidden */
.scroll-animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

/* When section is in view */
.scroll-animate.show {
    opacity: 1;
    transform: translateY(0);
}

/* Delay for content */
.partner-container.show {
    transition-delay: 0.1s;
}

.partner-content.show {
    transition-delay: 0.4s;
}