@import './../../../styles/theme.css';

.container {
    width: 95%;
    margin: auto;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 40;
}
.container:has(.navbar-scrolled) {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    animation: slideDown 0.7s ease-out forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.navbar-about {
    background-color: #ffffffa3;
}
.navbar-default {
    background-color: #FFF;

}
.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.9); 
    width: 95%;
    margin: auto;
    padding: 15px 35px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-main);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1); /* ظل أخف */
    border-radius: 0 0 15px 15px;
    transition: background-color 0.3s ease;
}
.navbar-product {
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-main);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 0 0 15px 15px;
    margin:0;
}

.navbar-default,
.navbar-about , .navbar-product {
    padding: 20px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-main);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 0 0 15px 15px;
}
.nav-left {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 45px;
}
.nav-links {
    display: flex;
    gap: 30px;
    font-size: 16px;
}
.nav-links a{
    display: inline-block;
}
.nav-links a,
.nav-links .link-nav {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    transition: 0.2s;
}

.nav-links a:hover,
.nav-links .link-nav:hover {
    color: var(--color-secondary);
    transform: scale(1.1);
    
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

button {
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.btn-demo,
.btn-signin {
    border-radius: 10px;
    background: linear-gradient(180deg, #0C7288 0%, #68AAB6 100%);
    box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}

.btn-demo:hover,
.btn-signin:hover {
    background: linear-gradient(to bottom, #0A595F, #4E8A91);
    transition: all .2s ease-in-out;
}